
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
:root{
    --cor-princ: #D2232A;
    --cor-seg: #000000;
    --cor-text: #ffff;
    --cor-text-title: #fa0000;
    --cor-text-news: #000000;
    --cor-blackbox: rgba(0, 0, 0, 0.7);
    --padding-size: 0px 8px;
    --font-text: "Rajdhani", sans-serif;
    --font-title: "New Amsterdam", sans-serif;
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --border-news:  1px solid black;
    --font-size-title: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, .logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    background-color: var(--cor-princ);
    font-family: "New Amsterdam", sans-serif;
    color: var(--cor-text);
}

.text__header{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: var(--padding-size);
}

.text__link{
    padding-right: 10px;
    transition: color 0.3s;
}

.text__link:hover{
    color: var(--cor-princ);
}

.logo{
    height: 150px;
    width: 120px;
}

.links__externos{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    background-color: var(--cor-seg);
    color: var(--cor-text);
}

.links__externos a{
    text-decoration: none;
    cursor: pointer;
    color: var(--cor-text);
}

.card__container{
    display: flex;
    justify-content: space-between;
    gap: 1px; 
    max-width: 100%;
}

.card {
    position: relative;
    width: 50%; 
    height: 500px;
    overflow: hidden;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 700px;
    padding-top: 1px;
    display: block;
    object-fit: cover;
}

.card-text {
    position: absolute;
    width: 100%;
    bottom: 0%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor-text);
    background: rgba(0, 0, 0, 0.5);
}

.card-text p {
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    width: 100%;
    height: 70px;

}

.news__title p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 45px;
}


.news__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: var(--font-text);
}

.news__card{
    width: 325px;
    background-color: var(--cor-text);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    margin: 20px;
}

.news__card img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    object-position: center top;
}

.news__card__content{
    padding: 15px;
}

.news__card__content h3{
    font-size: 20px;
    margin-bottom: 8px;
    transition: color 0.5s;
}

.news__card__content h3:hover{
    color: var(--cor-princ);
    cursor: default;
}

.news__card__content p{
    font-size: 15px;
    line-height: 1.3;
}


/* Css para posts */ 

.post__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3vh 0vh 0vh 0vh;
}
.post__cards{

    display: flex;
    border: var(--border-news);
    border-radius: 5px;
    margin: 1.5vh 0vh 1.5vh 0vh;
    width: 70%;
    height: auto;
}

.post__cards img{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 500px;
    max-height: 250px;
    min-width: 500px;
    min-height: 250px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.post__cards p{
    margin: 10px 5px 8px 10px;
    font-family: var(--font-text);
}

.post__cards__title{
    display: flex;
    justify-content: start;
    align-items: start;
    font-weight: bold;
    font-size: var(--font-size-title);

}

.post__cards__text{
    color: var(--cor-text-news);
}

.post__cards__footer{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: var(--cor-text-news);
    opacity: 0.5;
    margin: 10px 5px 8px 0px;
}

.post__card__text{
    text-decoration: none;
}

.footer__container {
    width: 100%;
    background-color: var(--cor-princ);
}


.footer__princ, .footer__secund{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.footer__princ{
    background-color: var(--cor-princ);
}

.footer__secund{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--cor-seg);
    color: var(--cor-princ);
    font-family: var(--font-text);
    font-size: 20px;
}

.footer__img{
    margin: 10px;
    max-width: 300px;
    height: auto;
}

.footer__text{
    display: flex;
    color: var(--cor-text);
    font-family: var(--font-text);
    padding: 10px;
}

.footer__text p{
    display: flex;
    justify-content: space-evenly;
    margin: 5vh 5vh 5vh 5vh;
    font-size: 20px;
}

/* Responsivo P. */

@media (max-width: 1293px) {

    .card-text {
        width: 100%;
        bottom: 0%;
        flex-wrap: wrap;
        color: var(--cor-text);
        background: rgba(0, 0, 0, 0.836);
    }

    .card-text p {
        font-size: 16px;
        margin: 0px 10px 10px 10px;
        text-indent: 5px;
        font-family: "Rajdhani", sans-serif;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

}

@media (max-width: 1209px){
    .post__cards img{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        max-width: 300px;
        max-height: 250px;
        min-width: 300px;
        min-height: 250px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        
    }
}

@media (max-width: 921px){
    .post__cards img{
        border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
        max-width: 300px;
        max-height: 320px;
        min-width: 300px;
        min-height: 320px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        
    }
}

@media (max-width: 797px) {
    .footer__text{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-left: 3vh;
        
    }
    .footer__text p{
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 20px;
    }

    .post__cards img{
        border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
        max-width: 300px;
        max-height: auto;
        min-width: 300px;
        min-height: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        
    }
} 

@media (max-width: 897px) {
    .post__cards{

        display: flex;
        box-shadow: var(--box-shadow-news);
        border-radius: 5px;
        margin: 1.5vh 0vh 1.5vh 0vh;
        width: 95%;
        height: auto;
    }
}

@media (max-width: 731px) {

    .news__card img{
        width: 100%;
        object-fit: cover;
    }

    .news__card{
        width: 100%;
        background-color: var(--cor-text);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        margin: 20px;
        
    }
    .news__card img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center top;
        overflow: hidden;
    }

    .logo{
        display: flex;
        justify-content: center;
    }

    .text__header{
        display: none;
    }

}

@media (max-width: 585px) {
    .post__cards img{
        display: none;
        
    }

    .post__cards__title{
        display: flex;
        justify-content: start;
        align-items: start;
        font-weight: bold;
        font-size: var(--font-size-title);
        color: var(--cor-text-title);
    
    }
}

@media (max-width: 395px) {

    .news__card img{
        width: 400px;
        height: 200px;
        object-fit: cover;
        object-position: center top;
    }

    .news__card{
        width: 325px;
        background-color: var(--cor-text);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        margin: 20px;
        
    }

}


